@charset "utf-8";
/* CSS Document */

body {
	background:#fafafa;
}
#site-header {
	background:#09F;
	height:140px;
}
nav {
	background:#fff;
	height:60px;
}
#main {
	min-height:600px;
	padding:15px 0;
}
#content {
	background:#fff;
	padding:15px;
}
#site-footer {
	background:#000;
	height:140px;
}